
<app-editperson [PID] = "id" >  </app-editperson>
<div class="allignment" *ngIf="show">
    <mat-card class="example-card">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <mat-label>Vinayaka jewls</mat-label>
              <input matInput disabled value="VJ">
            </mat-form-field>
            <div *ngFor = "let temp of order">
              <table class="example-full-width" cellspacing="0"><tr><td>
                <div *ngIf="temp.columntype =='text'">
                    <mat-form-field class="example-full-width">
                    <mat-label>{{temp.columnHeading}}</mat-label>
                    <input matInput [(ngModel)]="findata[temp.columnname]" [ngModelOptions]="{standalone: true}" required>
                    </mat-form-field>
                </div>
                <div  *ngIf="temp.columntype =='date'">
                <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker"  [(ngModel)]="findata[temp.columnname]" [ngModelOptions]="{standalone: true}" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                </div>
                </td></tr></table>
            </div>  
            <div *ngFor  = "let temp of findata.jama">
                <table class="example-full-width" cellspacing="0"><tr>
                   <td>  
                    <mat-form-field class="example-full-width">
                        <mat-label>Money</mat-label>
                        <input matInput [(ngModel)]="temp.money" [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                   </td>
                   <td>  
                    <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker"  [(ngModel)]="temp.date" [ngModelOptions]="{standalone: true}" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>    
                    </mat-form-field>
                   </td>
                 </tr></table>

            </div>  
            <mat-label *ngIf="notvalid" style="color: crimson;">{{message}}</mat-label>
            <mat-card-actions *ngIf = "!addjama"> 
                <button mat-flat-button color="accent" (click)=jama()  style="right: 0px;">Jama</button>
            </mat-card-actions> 
            <div *ngIf = "addjama">
                <table class="example-full-width" cellspacing="0"><tr>
                   <td>  
                    <mat-form-field class="example-full-width">
                        <mat-label>Money</mat-label>
                        <input matInput [(ngModel)]="jamapush.money" [ngModelOptions]="{standalone: true}" required>
                        </mat-form-field>
                   </td>
                   <td>  
                    <mat-form-field>
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker"  [(ngModel)]="jamapush.date" [ngModelOptions]="{standalone: true}" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>    
                    </mat-form-field>
                   </td>
                 </tr></table>

            </div> 
          </form>

          <mat-card-actions>
            <button mat-flat-button color="accent" (click)=savelent()>save</button>
          </mat-card-actions>    
    </mat-card>
</div>
